<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-muted mb-3">Forget password</h2>
    <form action="/auth/forget-password" method="POST">

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" />
      </div>

      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <button type="submit" class="btn btn-primary">Forget password</button>
    </form>
    <a href="/auth/login" class="btn btn-info mt-4"><i
        class="fa-solid fa-arrow-left-long"
      ></i>
      Back to Login</a>
  </div>
</div>