<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-muted mb-3">Login</h2>
    <form action="/auth/login" method="POST">

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <a href="/auth/google" class="btn btn-info btn-block">Login with Google</a>
    <a href="/auth/forget-password" class="btn btn-secondary btn-block">Forget
      password</a>
  </div>
</div>