<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-muted mb-3">Reset Password</h2>
    <form action="/auth/reset-password" method="POST">

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
            />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm password</label>
            <input
              type="password"
              name="confirmPassword"
              class="form-control"
              id="confirmPassword"
            />
          </div>
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <input type="hidden" name="email" value="{{email}}" />
      <input type="hidden" name="token" value="{{token}}" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>