<div class="list-group">
  <a
    href="/users/me/ideas"
    class="list-group-item list-group-item-action
      {{comparePath '/users/me/ideas' path}}"
  >
    All Ideas
  </a>
  <a
    href="/users/me"
    class="list-group-item list-group-item-action
      {{comparePath '/users/me' path}}"
  >Profile</a>
  <a
    href="/auth/logout"
    class="list-group-item list-group-item-action
      {{comparePath '/auth/logout' path}}"
  >Logout</a>
</div>