{{#if errMsg}}
  <div class="alert alert-danger" role="alert">
    {{errMsg}}
  </div>
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success" role="alert">
    {{success_msg}}
  </div>
{{/if}}